Мы создаем клиент серверное приложение студенческий навгитор практики для компаний сиспользваонием геймифкации. 
Мобильное приложение мы пишем на Flutter. А сервернео приложение на Java. Flutter приложение будет использовать REST API для взаимодействия с сервером.
Когда пишешь код, будь на 100% уверен, что ты не ломаешь ничего существующего. 
